
  <header>
    <h1>{{page_title}}</h1>
    <nav role='navigation'><!-- A second <nav> could be used for page navigation -->
    </nav>
  </header>

  <article><!-- More than one <article> can appear on a page -->
    <h3>A lesser title</h3>
    <p>Blah, blah, blah!</p>
    <p>'app' foo variable: {{app_foo}}</p>
  </article>
